<!doctype html>
<html>

<head>
    {include file="global.php" title="字体图标"/}
    <style>
        body{
            padding: 0 10px;
        }
        i{
            font-size: 24px;
        }
    </style>
</head>

<body>
    <table class="layui-table">
        <thead>
            <tr>
                <th>序号</th>
                <th>图标</th>
                <th>图标类名</th>
                <th>图标编码</th>
                <th>HTML实体</th>
                <th>CSS3编码</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
<script type="text/javascript">
    //获取css内容
    $.get("/static/icomoon/style.css", function(result) {
        result = result.replace(/[ ]/g, "");
        result = result.replace(/[\r\n]/g, "");
        result = result.substring(result.indexOf('.icon-plangrid:before') + 1, result.length);
        result = result.replace(/before/g, "");
        result = result.replace(/.icon-/g, ",icon-");
        result = result.replace(/;color/g, ",color");
        result = result.replace(/;},/g, "},");
        result = result.replace(/},icon/g, "\"},{icon");
        result = result.replace(/color:#/g, "color:\"#");
        result = result.replace(/},{icon/g, "}},{icon");
        result = result.replace(/""}}/g, "\"}}");
        result = result.replace(/-/g, "_");
        result = result.replace(/";}/g, "\"}");
        result = "[{" + result + "}]";
        var list = eval('(' + result + ')');
        var tr;
        list.forEach(function(v, i, a) {
            i++;
            for (var key in v) {
                var value = v[key];
                var name = key.replace(/_/g, "-");
                tr += "<tr>  <td>" + i + "</td><td><i class='" + name + "'></i></td> <td>" + name + "</td> <td>" + value.content + "</td><td>&#x " + value.content + "</td><td>/" + value.content + "</td></tr>"
            }
        });
        $("tbody").html(tr);
    });
</script>

</html>