.admin-body {
    margin: 10px 0 0 0;
}

.form-body {
    padding: 20px;
}

.admin-table-body {
    padding: 5px 15px;
}

.layui-card-header.admin-card-header-auto {
    padding-top: 5px;
    padding-bottom: 0;
    height: auto
}

.admin-card-header-auto i.admin-button-btn {
    position: relative;
    right: 0;
    top: 0;
    vertical-align: middle
}

.admin-card-header-auto .layui-form-item:last-child {
    margin-bottom: 0
}

.admin-button-btn {
    position: relative;
    right: 0;
    top: 0;
    vertical-align: middle;
}

.admin-btn-comm {
    margin-top: -3px;
}

.admin-input-comm {
    margin-top: 2px;
}

/*表格图标*/
table .icon {
    font-size: 26px;
}

.icon-true {
    color: #1E9FFF;
}

.icon-true:before {
    content: '\e9a7';
}

.icon-false {
    color: #FF5722;
    font-weight: bold;
}

.icon-false:before {
    content: '\e9b7';
}

/*表格图标*/

/*表格工具栏按钮*/
.layui-btn-container button i {
    display: inline-block;
    height: 100%;
    line-height: 1.8;
}

/*表格工具栏按钮*/