/*easyui皮肤、样式重写*/

.easyui-table-tool {
    padding: 10px 0 0 15px;
}

.panel-body {
    border-color: #e6e6e6;
}

.datagrid-header-row {
    height: 30px !important;
}

.datagrid-row {
    height: 40px !important;
}


.datagrid-row-over {
    background: #f9f9f9;
    color: #666;
}

.admin-table-body .panel-htop {
    margin: 5px 0;
}

.datagrid-header {
    background: #f2f2f2;
}

.datagrid-row-selected {
    background: #f2f2f2;
    color: #666;
}

.datagrid-body td,
.datagrid-header td {
    border-color: #e6e6e6;
    border-style: solid;
}


.datagrid-header td.datagrid-header-over {
    color: #333333;

}

.datagrid-td-rownumber {
    background: #F2F2F2;
}

table .tree-hit,
table .tree-icon {
    font-family: icomoon !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

table .tree-expanded,
table .tree-collapsed {
    background: none;
    font-size: 18px;
}

table .tree-folder,
table .tree-file {
    background: none;
}

table .tree-folder::before {
    content: "\ede2";
}

table .tree-collapsed:before {
    content: "\e97c";
}

table .tree-expanded:before {
    content: "\e97a";
}

.datagrid-header-check>input[type=checkbox],
.datagrid-cell-check>input[type=checkbox] {
    display: none;
}

.datagrid-view .layui-form-checkbox {
    display: table;
    padding: 0;
}

.datagrid-view .layui-form-radio {
    display: table;
    margin: 0;
}

.datagrid-view .datagrid-header-radio {
    padding: 0 5px;
}

.datagrid-view .layui-anim.layui-icon {
    display: table-cell;
}

.datagrid-view .layui-form-checkbox[lay-skin=primary] i {
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.datagrid-view .layui-form-radio>i {
    font-size: 15px;
}

.pagination .pagination-num {
    padding: 5px;
    border-radius: 2px;
}

.pagination-page-list {
    padding: 4px 2px;
    border-radius: 2px;
}

.datagrid-mask {
    background-color: rgb(0, 0, 0);
    opacity: 0.1;
}

.datagrid-mask-msg {
    border-radius: 3px;
    height: 10px !important;
    line-height: 10px;
    padding: 20px 20px 20px 45px;
    border: 1px solid #D3D4D3;
    box-shadow: none;
    background-image: url('/static/layui/css/modules/layer/default/loading-2.gif');
}