/*easyui皮肤、样式重写*/

.easyui-table-tool {
    padding: 10px 0 0 15px;
}

.panel-body {
    border-color: #e6e6e6;
}

.datagrid-header-row,
.datagrid-row {
    height: 40px;
}

.datagrid-row-over {
    background: #f9f9f9;
    color: #666;
}

.panel-htop {
    margin: 5px 0;
}

.datagrid-header {
    background: #f2f2f2;
}

.datagrid-row-selected {
    background: #f2f2f2;
    color: #666;
}

.datagrid-body td,
.datagrid-header td {
    border-color: #e6e6e6;
    border-style: solid;
}


.datagrid-header td.datagrid-header-over {
    color: #333333;

}

.datagrid-td-rownumber {
    background: #F2F2F2;
}

table .tree-hit,
table .tree-icon {
    font-family: icomoon !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

table .tree-expanded,
table .tree-collapsed {
    background: none;
    font-size: 18px;
}

table .tree-folder,
table .tree-file {
    background: none;
}

table .tree-folder::before {
    content: "\ede2";
}

table .tree-collapsed:before {
    content: "\e97c";
}

table .tree-expanded:before {
    content: "\e97a";
}

.datagrid-header-check input {
    display: none;
}

.datagrid-view .layui-form-checkbox {
    display: table;
    padding: 0;
}

.datagrid-view .layui-form-radio {
    display: table;
    margin: 0;
}

.datagrid-view .datagrid-header-radio {
    padding: 0 5px;
}

.datagrid-view .layui-anim.layui-icon {
    display: table-cell;
}

.datagrid-view .layui-form-checkbox[lay-skin=primary] i {
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.datagrid-view .layui-form-radio>i {
    font-size: 15px;
}