<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="系统主页"/}
    <script type="text/javascript" src="/static/tree/jquery.parser.js"></script>
    <script type="text/javascript" src="/static/tree/jquery.tree.js"></script>
    <link rel="stylesheet" href="/static/style/home.css" media="all">
    <link rel="stylesheet" href="/static/tree/tree.css" media="all">
    <link rel="stylesheet" href="/static/icomoon/style.css" media="all">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:void(0);" admin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:void(0);" admin-event="refresh" title="菜单刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" admin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>
                        <!-- 如果有新消息，则显示小圆点 -->
                        <!-- <span class="layui-badge-dot"></span> -->
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:void(0);" admin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:void(0);" admin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" style="margin:0 20px 0 0;">
                    <a href="javascript:void(0);">
                        <cite>{$user["Username"]}</cite>
                        <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                        <hr>
                        <dd admin-event="logout" style="text-align: center;"><a href="javascript:void(0);">退出</a></dd>
                    </dl>
                </li>
            </ul>
            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo">
                        <span>管理主页</span>
                    </div>
                    <ul id="menu-tree" class="layui-nav layui-nav-tree"></ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //渲染
        layui.use('element', function () {
            var element = layui.element;

        });
        //设置模块
        layui.config({
            //模块路径
            base: '/static/script/'
        }).extend({
            //设定模块别名
            home: 'home'
        }).use(['home'], function () {
            var home = layui.home;
        });
    </script>
</body>

</html>