<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="系统主页"/}
    <link rel="stylesheet" href="/static/style/home.css" media="all">
    <!-- <script type="text/javascript" src="/static/tree/jquery.parser.js"></script>
    <script type="text/javascript" src="/static/tree/jquery.tree.js"></script> -->
</head>

<body class="layui-layout-body">

    <div id="admin-app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <!-- 头部区域 -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect>
                        <a href="javascript:void(0);" admin-event="sideFlexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="app-flexible"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:void(0);" admin-event="refresh" title="刷新菜单">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                    <!-- <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:void(0);" admin-event="message" lay-text="消息中心">
                            <i class="layui-icon layui-icon-notice"></i>
                            <span class="layui-badge-dot"></span>
                        </a>
                    </li> -->
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:void(0);" layadmin-event="theme">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:void(0);" admin-event="fullscreen">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect style="margin:0 10px 0 0;">
                        <a href="javascript:void(0);">
                            <cite>{$user["Username"]}</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                            <hr>
                            <dd admin-event="logout" style="text-align: center;">
                                <a href="javascript:void(0);">退出</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo">
                        <span>
                            <h4>管理主页</h4>
                        </span>
                    </div>
                    <ul id="menu-tree" class="layui-nav layui-nav-tree"></ul>
                </div>
            </div>
            <!-- 页面标签 -->
            <div class="admin-page-tabs">
                <div class="layui-icon admin-tabs-control layui-icon-prev" admin-event="leftPage"></div>
                <div class="layui-icon admin-tabs-control layui-icon-next" admin-event="rightPage"></div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="admin-layout-tabs">
                    <ul class="layui-tab-title">
                        <li data-id="first" class="layui-this">
                            <i class="layui-icon layui-icon-home"></i>
                        </li>
                    </ul>
                </div>
                <!--右键菜单-->
                <ul class="tabs-menu" id="context-menu">
                    <li class="layui-nav-item" lay-unselect>
                        <dl class="layui-anim-fadein">
                            <dd admin-event="refreshThisTabs"><a href="javascript:void(0);">刷新当前标签页</a></dd>
                            <dd admin-event="closeThisTabs"><a href="javascript:void(0);">关闭当前标签页</a></dd>
                            <dd admin-event="closeOtherTabs"><a href="javascript:void(0);">关闭其它标签页</a></dd>
                            <dd admin-event="closeAllTabs"><a href="javascript:void(0);">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- 主体内容 -->
            <div class="layui-body" id="tab-body">
                <div class="body-item layui-show">
                    <iframe data-id="first" src="https://www.baidu.com/" frameborder="0" class="admin-iframe"></iframe>
                </div>
            </div>
            <!-- 移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>

    <script type="text/javascript">
        //设置模块
        layui.config({
            //模块路径
            base: '/static/script/'
        }).extend({
            //设定模块别名
            home: 'home'
        }).use(['home'], function() {
            var home = layui.home;
        });
    </script>
</body>

</html>