<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="系统皮肤"/}
</head>

<body class="form-body">
    <form class="layui-form" lay-filter="form">
        <input type="radio" name="theme" value="1" title="默认">
        <input type="radio" name="theme" value="2" title="酷黑">
    </form>
    <script>
        layui.use(['form'], function() {
            var form = layui.form;
            //监听提交
            form.on('submit(submit)', function(data) {
                askHelper.ajaxPost({
                    url: '/module/edit',
                    data: data.field,
                    success: function() {
                        //表格刷新
                        window.parent.$('#data-table').treegrid('reload');
                        //窗口关闭
                        window.parent.layer.closeAll('iframe');
                    }
                });

                //阻止表单提交
                return false;
            });
        });
    </script>
</body>

</html>