<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="系统皮肤"/}
</head>

<body class="form-body">
    <form class="layui-form" lay-filter="form">
        <input type="radio" lay-filter="theme" name="theme" value="0" title="默认">
        <input type="radio" lay-filter="theme" name="theme" value="1" title="酷黑">
    </form>
    <script>
        var skin = [
            //默认配色
            {},
            //酷黑配色
            {
                button: '#232323'
            }
        ]
        layui.use(['form'], function() {
            //监听选择
            layui.form.on('radio(theme)', function(data) {
                setSkin(parseInt(data.value));
            });
        });

        function setSkin(i) {
            !i ? $.removeCookie('theme') : $.cookie('theme', JSON.stringify(skin[i]));
        }
    </script>
</body>

</html>