<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="用户列表"/}
</head>

<body class="admin-body">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header admin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline admin-input-comm">
                            <input type="text" name="content" placeholder="请输入编号、用户名" autocomplete="off" class="layui-input">
                        </div>
                        <button class="layui-btn admin-btn-comm" data-type="reload" lay-submit>
                            <i class="layui-icon icon-search admin-button-btn"></i>搜索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-btn-group">
                            <button class="layui-btn">增加</button>
                            <button class="layui-btn">编辑</button>
                            <button class="layui-btn">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table id="table"></table>
            </div>
        </div>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#table',
                height: tableHeight(),
                url: '/module/getModuleList', //数据接口
                page: true, //开启分页
                cols: [
                    [ //表头
                        {
                            type: 'radio'
                        },
                        {
                            field: 'id',
                            title: '编号',
                            width: 80,
                            sort: true,
                            align: 'center'
                        },
                        {
                            field: 'name',
                            title: '模块名',
                            width: 120,
                            align: 'center'
                        },
                        {
                            field: 'link',
                            title: '链接',
                            width: 120,
                            align: 'left'
                        },
                        {
                            field: 'sort',
                            title: '排序',
                            width: 80,
                            align: 'center'
                        }
                    ]
                ]
            });

        });
    </script>
</body>

</html>