<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="模块列表"/}
</head>

<body class="admin-body">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header admin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline admin-input-comm search">
                            <input type="text" id="key" placeholder="请输入编号、模块名" autocomplete="off" class="layui-input">
                        </div>
                        <button class="layui-btn admin-btn-comm" lay-submit onclick="search();">
                            <i class="layui-icon icon-search admin-button-btn"></i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body admin-table-body">
                <table id="data-table"></table>
            </div>
        </div>
    </div>
    <!--表格工具条-->
    <div class="easyui-table-tool" id="toolbar">
        <div class="layui-btn-container">
            {foreach $button as $b }
            <button class="layui-btn layui-btn-sm" onclick="eval('{$b.EnglishName}()')">
                <i class="layui-icon {$b.Icon}"></i> {$b.Name}
            </button>
            {/foreach}
        </div>
    </div>
</body>
<script type="text/javascript">
    //easyUi 表格树
    $('#data-table').treegrid({
        url: '/module/getModuleList', //数据接口
        singleSelect: true, //行单选
        idField: 'id', //定义标识树节点的键字段
        treeField: 'name', //定义树节点字段
        height: tableHelper.setHeight(),
        toolbar: '#toolbar', //表格工具条
        rownumbers: true, //行号显示
        pageSize: 15, //页码容量
        fit: false, //关闭自适应
        fitWidth: true, //是否跟随浏览器变化适应表格宽度(自定义扩展)
        pagination: false, // 分页工具栏
        animate: true, //节点展开或折叠时显示动画效果
        pageList: [10, 15, 20, 30, 40, 50, 100], // 可以设置每页记录条数的列表
        columns: [
            [
                { field: 'checkbox', checkbox: true, align: 'center' },
                { field: 'id', title: '编号', width: 80, sort: true, align: 'center' },
                { field: 'name', title: '模块名', width: 120, align: 'left' },
                { field: 'link', title: '链接', width: 120, align: 'left' },
                { field: 'level', title: '层级', width: 80, align: 'center' },
                { field: 'sort', title: '排序', width: 80, align: 'center' },
                { field: 'remark', title: '备注', width: 170, align: 'center' }
            ]
        ]
    });

    //操作方法

    //添加
    function add(pid = 0, level = 0, title = "添加模块") {
        layer.open({
            type: 2,
            title: title,
            shadeClose: false, //是否点击遮罩关闭
            shade: 0.5, //遮罩透明度
            maxmin: false, //开启最大化最小化按钮
            area: ['700px', '500px'],
            content: '/module/add?pid=' + pid + '&level=' + level
        });
    }

    //添加子级
    function addSon() {
        var row = $('#data-table').treegrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        add(row.id, row.level, "[" + row.name + "]添加子级模块");
    }

    //编辑
    function edit() {
        var row = $('#data-table').treegrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        layer.open({
            type: 2,
            title: '模块修改',
            shadeClose: false, //是否点击遮罩关闭
            shade: 0.5, //遮罩透明度
            maxmin: false, //开启最大化最小化按钮
            area: ['700px', '500px'],
            content: '/module/edit?id=' + row.id
        });
    }

    //模块按钮
    function moduleButton() {
        var row = $('#data-table').treegrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        if (row.pid === 0) {
            layer.msg("请选择子级模块", { time: 1500, icon: 5 });
            return;
        }
        layer.open({
            type: 2,
            title: '模块按钮列表',
            shadeClose: false, //是否点击遮罩关闭
            shade: 0.5, //遮罩透明度
            maxmin: false, //开启最大化最小化按钮
            area: ['600px', '600px'],
            content: '/module/button?moduleId=' + row.id
        });
    }

    //删除
    function remove() {
        var row = $('#data-table').treegrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        askHelper.ajaxConfirm({
            url: '/module/remove',
            data: { id: row.id },
            msg: "确认删除吗"
        });
    }

    //自动排序
    function sorting() {
        askHelper.ajaxConfirm({
            url: '/module/sorting',
            msg: "将当前排序依次设置为间隔为10的排序,确定继续"
        });
    }

    //搜索
    function search() {
        $('#data-table').treegrid({
            queryParams: {
                key: $.trim($('#key').val())
            }
        });
    }
</script>

</html>