<!DOCTYPE html>
<html>

<head>
    {include file="admin/global.php" title="按钮列表"/}
</head>

<body class="admin-body">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header admin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline admin-input-comm search">
                            <input type="text" id="key" placeholder="请输入编号、按钮名" autocomplete="off" class="layui-input">
                        </div>
                        <button class="layui-btn admin-btn-comm" lay-submit onclick="search();">
                            <i class="layui-icon icon-search admin-button-btn"></i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body admin-table-body">
                <table id="data-table" lay-filter="data-table"></table>
            </div>
        </div>
    </div>
    <!--表格工具条-->
    <div class="easyui-table-tool" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" onclick="relation(true)">
                <i class="layui-icon layui-icon-add-1"></i> 增加关联
            </button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="relation(false)">
                <i class="layui-icon layui-icon-delete"></i> 删除关联
            </button>
        </div>
    </div>
</body>
<script type="text/javascript">
    var moduleId = '<?php echo $_GET["moduleId"]?>';
    //easyUi 表格
    $('#data-table').datagrid({
        url: window.admin.ajaxUrl + '/module/getModuleButtonList?moduleId=' + moduleId, //数据接口
        singleSelect: false, //行单选
        height: tableHelper.setHeight(),
        toolbar: '#toolbar', //表格工具条
        rownumbers: true, //行号显示
        pageSize: tableHelper.setPage(10), //页码容量
        fit: false, //关闭自适应
        pagination: false, // 分页工具栏
        pageList: tableHelper.setPage([10, 15, 20, 30, 40, 50, 100]), // 每页记录条数的列表
        columns: [
            [
                { field: 'checkbox', checkbox: true, align: 'center' },
                { field: 'id', title: '编号', width: 60, sort: true, align: 'center' },
                { field: 'name', title: '按钮名', width: 120, align: 'center' },
                { field: 'englishName', title: '按钮英文名', width: 120, align: 'center' },
                {
                    field: 'isRelation',
                    title: '是否关联',
                    width: 80,
                    align: 'center',
                    formatter: function (value, row) {
                        return value ? '<i class="icon icon-true"></i>' : '<i class="icon icon-false"></i>';
                    }
                }
            ]
        ]
    });

    //操作方法

    //角色关联模块按钮
    function relation(isRelation) {
        var rows = $('#data-table').treegrid('getSelections');
        if (rows.length < 1) {
            layer.msg("至少选中一行", { time: 2000, icon: 5 });
            return;
        }
        var ids = [];
        rows.forEach(function (v, i, a) {
            ids.push(v.id);
        })
        askHelper.ajaxPost({
            url: window.admin.ajaxUrl + '/module/relationButton',
            data: { ids: JSON.stringify(ids), moduleId: moduleId, isRelation: isRelation },
            success: function () {
                //清除选中项
                $('#data-table').treegrid('clearSelections');
                tableHelper.refresh('data-table');
            }
        });
    }

    //搜索
    function search() {
        $('#data-table').datagrid({
            queryParams: {
                key: $.trim($('#key').val())
            }
        });
    }
</script>

</html>