<!DOCTYPE html>
<html>

<head>
    {include file="admin/global.php" title="模块修改"/}
</head>

<body class="form-body">
    <form class="layui-form" lay-filter="form">
        <input type="hidden" name="id" value="{$model.id}" class="layui-input">
        <input type="hidden" name="pid" value="{$model.pid}" class="layui-input">
        <input type="hidden" name="level" value="{$model.level}" class="layui-input">
        <div class="layui-form-item">
            <label class="layui-form-label">模块名</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$model.name}" data-auto="true" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模块链接</label>
            <div class="layui-input-block">
                <input type="text" name="link" value="{$model.link}" data-auto="true" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模块图标</label>
            <div class="layui-input-block">
                <input type="text" name="icon" value="{$model.icon}" data-auto="true" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" value="{$model.sort}" data-auto="true" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" data-auto="true" class="layui-textarea">{$model.remark}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-btn" lay-submit lay-filter="submit">立即提交</div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            //监听提交
            form.on('submit(submit)', function (data) {
                askHelper.ajaxPost({
                    url: '/module/edit',
                    data: data.field,
                    success: function () {
                        //表格刷新
                        window.parent.$('#data-table').treegrid('reload');
                        //窗口关闭
                        window.parent.layer.closeAll('iframe');
                    }
                });

                //阻止表单提交
                return false;
            });
        });
    </script>
</body>

</html>