.admin-body {
  margin: 10px 0 0 0;
}
.form-body {
  padding: 20px;
}
.admin-table-body {
  padding: 5px 15px;
}
.layui-card-header.admin-card-header-auto {
  padding-top: 5px;
  padding-bottom: 0;
  height: auto;
}
.admin-card-header-auto i.admin-button-btn {
  position: relative;
  right: 0;
  top: 0;
  vertical-align: middle;
}
.admin-card-header-auto .layui-form-item:last-child {
  margin-bottom: 0;
}
.admin-button-btn {
  position: relative;
  right: 0;
  top: 0;
  vertical-align: middle;
}
.admin-btn-comm {
  margin-top: -3px;
}
.admin-input-comm {
  margin-top: 2px;
}
.admin-page-tabs .layui-tab-title li {
  font-size: 12px;
}
.admin-page-tabs .layui-tab-title li i {
  font-size: 14px;
}
/*表格图标*/
table .icon {
  line-height: 100%;
  font-size: 26px;
}
.icon-true {
  color: #1E9FFF;
}
.icon-true:before {
  content: '\e9a7';
}
.icon-false {
  color: #FF5722;
  font-weight: bold;
}
.icon-false:before {
  content: '\e9b7';
}
/*表格图标*/
/*表格工具栏按钮*/
.layui-btn-container button i {
  display: inline-block;
  height: 100%;
  line-height: 1.8;
}
/*表格工具栏按钮*/
.layui-form .layui-form-label {
  width: 100px;
}
.form-body .layui-form .layui-form-item .layui-form-label {
  width: 120px;
}
.form-body .layui-form .layui-form-item .layui-input-block {
  margin-left: 120px;
}
.layui-form-query .layui-form-label {
  width: 110px;
}
.layui-form .layui-inline .layui-input-block {
  width: 120px;
  margin-left: 100px;
}
.layui-form .layui-form-switch {
  line-height: 20px;
}
.layui-form-pane .layui-form-item .layui-input-block .textbox {
  float: left;
  width: 120px;
  height: 38px;
  border-radius: 0 2px 2px 0;
}
.layui-form-pane .layui-form-item .layui-input-block .textbox input {
  height: 100%;
}
/*表单必填标记*/
.layui-form .icon-required::before {
  content: "*";
  color: #f92672;
  margin-right: 5px;
  font-size: 12px;
}
/*清除easyuid对layui表单影响*/
.layui-form .layui-form-checkbox * {
  -moz-box-sizing: unset;
  -webkit-box-sizing: unset;
  -o-box-sizing: unset;
  -ms-box-sizing: unset;
  box-sizing: unset;
}