<!DOCTYPE html>
<html>

<head>
    {include file="admin/global.php" title="按钮编辑"/}
</head>

<body class="form-body">
    <form class="layui-form" lay-filter="form">
        <input type="hidden" name="Id" value="{$model.Id}" class="layui-input">
        <div class="layui-form-item">
            <label class="layui-form-label">按钮名称</label>
            <div class="layui-input-block">
                <input type="text" name="Name" value="{$model.Name}" data-auto="true" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英文名称</label>
            <div class="layui-input-block">
                <input type="text" name="EnglishName" value="{$model.EnglishName}" data-auto="true"
                    lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block">
                <input type="text" name="Icon" value="{$model.Icon}" data-auto="true" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">序号</label>
            <div class="layui-input-block">
                <input type="number" name="Sort" value="{$model.Sort}" data-auto="true" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="Remark" data-auto="true" class="layui-textarea">{$model.Remark}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否有效</label>
            <div class="layui-input-block">
                <input type="checkbox" name="IsValid" lay-skin="switch" lay-text="是|否" {$model.IsValid?"checked":""}>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-btn" lay-submit lay-filter="submit">立即提交</div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        //表单渲染
        layui.form.render();
        layui.use(['form'], function () {
            var form = layui.form;
            //监听提交
            form.on('submit(submit)', function (data) {
                askHelper.ajaxPost({
                    url: '/button/edit',
                    data: data.field
                });

                //阻止表单提交
                return false;
            });
        });
    </script>
</body>

</html>