<!doctype html>
<html>

<head>
    {include file="admin/global.php" title="字体图标"/}
    <style>
        body{
            padding: 0 10px;
        }
        i{
            font-size: 18px;
        }
    </style>
</head>

<body>
    <table class="layui-table">
        <colgroup>
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
        </colgroup>
        <thead>
            <tr>
                <th>序号</th>
                <th>图标</th>
                <th>图标类名</th>
                <th>编码</th>
                <th>序号</th>
                <th>图标</th>
                <th>图标类名</th>
                <th>编码</th>
                <th>序号</th>
                <th>图标</th>
                <th>图标类名</th>
                <th>编码</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
<script type="text/javascript">
    //获取css文本内容
    $.get("/admin/static/icomoon/style.css", function(result) {
        //下面这一堆是为了把css样式转化为json格式
        result = result.replace(/[ ]/g, "");
        result = result.replace(/[\r\n]/g, "");
        result = result.substring(result.indexOf('.icon-plangrid:before') + 1, result.length);
        result = result.replace(/before/g, "");
        result = result.replace(/.icon-/g, ",icon-");
        result = result.replace(/;color/g, ",color");
        result = result.replace(/;},/g, "},");
        result = result.replace(/},icon/g, "\"},{icon");
        result = result.replace(/color:#/g, "color:\"#");
        result = result.replace(/},{icon/g, "}},{icon");
        result = result.replace(/""}}/g, "\"}}");
        result = result.replace(/-/g, "_");
        result = result.replace(/";}/g, "\"}");
        result = "[{" + result + "}]";
        var list = eval('(' + result + ')');
        //生成表格
        var tr;
        var td;
        list.forEach(function(v, i, a) {
            i++;
            if (i % 3 == 0) {
                td += found(v, i);
                tr += "<tr>" + td + "</tr>";
                td = "";
            } else {
                td += found(v, i);
            }

        });

        function found(v, i) {
            for (var key in v) {
                var value = v[key];
                var name = key.replace(/_/g, "-");
                return "<td>" + i + "</td><td><i class='" + name + "'></i></td> <td>" + name + "</td> <td>" + value.content + "</td>"
            }
        }
        $("tbody").html(tr);
    });
</script>

</html>