<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="模块列表"/}
</head>

<body class="admin-body">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header admin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline admin-input-comm search">
                            <input type="text" id="key" placeholder="请输入编号、模块名" autocomplete="off" class="layui-input">
                        </div>
                        <button class="layui-btn admin-btn-comm" lay-submit onclick="search();">
                            <i class="layui-icon icon-search admin-button-btn"></i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body admin-table-body">
                <table id="data-table"></table>
            </div>
        </div>
    </div>
    <!--表格工具条-->
    <div class="easyui-table-tool" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" onclick="relation(true)">
                <i class="layui-icon layui-icon-add-1"></i> 增加关联
            </button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="relation(false)">
                <i class="layui-icon layui-icon-delete"></i> 删除关联
            </button>
        </div>
    </div>
</body>
<script type="text/javascript">
    var roleId = '<?php echo $_GET["roleId"]?>';
    //easyUi 表格树
    $('#data-table').treegrid({
        url: '/role/getRoleModuleList?roleId=' + roleId, //数据接口
        singleSelect: false, //行单选
        idField: 'id', //定义标识树节点的键字段
        treeField: 'name', //定义树节点字段
        height: tableHelper.setHeight(),
        toolbar: '#toolbar', //表格工具条
        rownumbers: true, //行号显示
        pageSize: 15, //页码容量
        fit: false, //关闭自适应
        fitWidth: true, //是否跟随浏览器变化适应表格宽度(自定义扩展)
        pagination: false, // 分页工具栏
        animate: true, //节点展开或折叠时显示动画效果
        pageList: [10, 15, 20, 30, 40, 50, 100], // 可以设置每页记录条数的列表
        columns: [
            [
                { field: 'checkbox', checkbox: true, align: 'center' },
                { field: 'id', title: '编号', width: 50, sort: true, align: 'center' },
                { field: 'name', title: '模块名', width: 120, align: 'left' },
                { field: 'level', title: '层级', width: 80, align: 'center' },
                {
                    field: 'isRelation',
                    title: '是否关联',
                    width: 60,
                    align: 'center',
                    formatter: function(value, row) {
                        return value ? '<i class="icon icon-true"></i>' : '<i class="icon icon-false"></i>';
                    }
                },
                {
                    field: 'menu',
                    title: '操作',
                    width: 120,
                    align: 'center',
                    formatter: function(value, row) {
                        //创建按钮,传入按钮名与对应方法，及颜色样式{0原始,1默认,2百搭,3暖色,4警告,5禁用},不设置为默认颜色
                        var button = { roleModuleButton: ['角色关联模块按钮', 1] };
                        if (!row.isRelation) {
                            button = { roleModuleButton: ['角色关联模块按钮', 0] };
                        }
                        if (row.button < 1) {
                            button = { roleModuleButton: ['角色关联模块按钮', 0] };
                        }
                        return tableHelper.createButton(button, row);
                    }
                }
            ]
        ]
    });

    //操作方法

    //角色关联模块
    function relation(isRelation) {
        var rows = $('#data-table').treegrid('getSelections');
        if (rows.length < 1) {
            layer.msg("至少选中一行", { time: 2000, icon: 5 });
            return;
        }
        var ids = [];
        rows.forEach(function(v, i, a) {
            ids.push(v.id);
        })
        askHelper.ajaxPost({
            url: '/role/relationdModel',
            data: { ids: JSON.stringify(ids), roleId: roleId, isRelation: isRelation },
            success: function() {
                //清除选中项
                $('#data-table').treegrid('clearSelections');
                tableHelper.refresh('data-table');
            }
        });
    }

    //角色模块按钮
    function roleModuleButton(row) {
        if (!row.isRelation) {
            layer.msg("请先关联模块后再操作", { time: 2000, icon: 5 });
            return;
        }
        if (row.button < 1) {
            layer.msg("模块下未配置按钮", { time: 2000, icon: 5 });
            return;
        }
        layer.open({
            type: 2,
            title: '[' + row.name + ']' + '角色按钮列表',
            shadeClose: false, //是否点击遮罩关闭
            shade: 0.5, //遮罩透明度
            maxmin: false, //开启最大化最小化按钮
            move: false, //是否允许移动
            area: ['550px', '520px'],
            content: '/role/button?roleId=' + row.roleId + '&moduleId=' + row.id
        });
    }

    //搜索
    function search() {
        $('#data-table').treegrid({
            queryParams: {
                key: $.trim($('#key').val())
            }
        });
    }
</script>

</html>