<!DOCTYPE html>
<html>

<head>
    {include file="admin/global.php" title="用户添加"/}
</head>

<body class="form-body">
    <form class="layui-form" lay-filter="form">
        <input type="hidden" name="Id" value="{$model.Id}" class="layui-input">
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="Account" value="{$model.Account}" data-auto="true" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" name="Password" value="{$model.Password}" data-auto="true" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="Username" value="{$model.Username}" data-auto="true" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="Gender" value="1" title="男" {$model.Gender==1?"checked":""}>
                <input type="radio" name="Gender" value="0" title="女" {$model.Gender==0?"checked":""}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否有效</label>
            <div class="layui-input-block">
                <input type="checkbox" name="IsValid" lay-skin="switch" lay-text="是|否" {$model.IsValid?"checked":""}>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-btn" lay-submit lay-filter="submit">立即提交</div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        //表单渲染
        layui.form.render();
        layui.use(['form'], function () {
            var form = layui.form;
            //监听提交
            form.on('submit(submit)', function (data) {
                askHelper.ajaxPost({
                    url: window.admin.ajaxUrl + '/user/add',
                    data: data.field
                });

                //阻止表单提交
                return false;
            });
        });
    </script>
</body>

</html>