<!DOCTYPE html>
<html>

<head>
    {include file="admin/global.php" title="修改密码"/}
</head>

<body class="form-body">
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" data-auto="true" lay-verify="required" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" data-auto="true" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" data-auto="true" lay-verify="required" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-btn" lay-submit lay-filter="submit">立即提交</div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            //监听提交
            form.on('submit(submit)', function (data) {
                askHelper.ajaxPost({
                    url: window.admin.ajaxUrl + '/user/password',
                    data: data.field,
                    success: function () {
                        askHelper.ajaxConfirm({
                            msg: "确定重新登录吗",
                            url: window.admin.ajaxUrl + '/index/signOut',
                            success: function (result) {
                                window.parent.window.location.href = result.data;
                            },
                            cancel: function () {
                                window.parent.layer.closeAll('iframe');
                            }
                        })
                    }
                });

                //阻止表单提交
                return false;
            });
        });
    </script>
</body>

</html>