.layui-btn {
    background-color: #232323;
}

.layui-btn-primary {
    background-color: #fff;
}

.layui-btn-primary:hover {
    border-color: #232323;
}

.layui-form-onswitch {
    border-color: #232323;
    background-color: #232323;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
    color: #232323;
}

#menu-tree .tree-node-selected {
    background-color: #666666 !important;
}

#menu-tree .tree-node-hover {
    background: #888888;
}

.layui-side-menu {
    background-color: #232323 !important;
}

.layui-layout-admin .layui-logo {
    background-color: #444444 !important;
}