<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="用户列表"/}
</head>

<body class="admin-body">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header admin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline admin-input-comm search">
                            <input type="text" id="key" placeholder="请输入编号、用户名" autocomplete="off" class="layui-input">
                        </div>
                        <button class="layui-btn admin-btn-comm" lay-submit onclick="search();">
                            <i class="layui-icon icon-search admin-button-btn"></i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body admin-table-body">
                <table id="data-table" lay-filter="data-table"></table>
            </div>
        </div>
    </div>
    <!--表格工具条-->
    {notempty name="button"}
    <div class="easyui-table-tool" id="toolbar">
        <div class="layui-btn-container">
            {foreach $button as $b }
            <button class="layui-btn layui-btn-sm" onclick="eval('{$b.EnglishName}()')">
                <i class="layui-icon {$b.Icon}"></i> {$b.Name}
            </button>
            {/foreach}
        </div>
    </div>
    {/notempty}
</body>
<script type="text/javascript">
    //easyUi 表格
    $('#data-table').datagrid({
        url: '/user/getUserList', //数据接口
        singleSelect: false, //行单选
        height: tableHelper.setHeight(),
        toolbar: '#toolbar', //表格工具条
        rownumbers: true, //行号显示
        pageSize: 15, //页码容量
        fit: false, //关闭自适应
        fitSize: true, //随浏览器变化适应表格大小(自定义扩展)
        pagination: true, // 分页工具栏
        pageList: [10, 15, 20, 30, 40, 50, 100], // 可以设置每页记录条数的列表
        columns: [
            [
                { field: 'checkbox', checkbox: true, align: 'center' },
                { field: 'id', title: '编号', width: 80, align: 'center' },
                { field: 'account', title: '账号', width: 120, align: 'center' },
                { field: 'username', title: '用户名', width: 120, align: 'center' },
                {
                    field: 'isValid',
                    title: '是否有效',
                    width: 100,
                    align: 'center',
                    formatter: function(value, row) {
                        return value ? '<i class="icon icon-true"></i>' : '<i class="icon icon-false"></i>';
                    }
                },
                { field: 'loginTimes', title: '登录次数', width: 120, align: 'center' },
                {
                    field: 'lastLoginTime',
                    title: '最后登录时间',
                    width: 170,
                    align: 'center',
                    formatter: function(value, row) {
                        return !value ? "尚未登录" : value;
                    }
                },
                { field: 'createTime', title: '创建时间', width: 170, align: 'center' }
            ]
        ]
    });

    //操作方法

    //添加
    function add() {
        layer.open({
            type: 2,
            title: "添加用户",
            shadeClose: false, //是否点击遮罩关闭
            shade: 0.5, //遮罩透明度
            maxmin: false, //开启最大化最小化按钮
            area: ['700px', '500px'],
            content: '/user/add'
        });
    }

    //编辑
    function edit() {
        var row = $('#data-table').datagrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        layer.open({
            type: 2,
            title: '修改用户',
            shadeClose: false, //是否点击遮罩关闭
            shade: 0.5, //遮罩透明度
            maxmin: false, //开启最大化最小化按钮
            area: ['700px', '500px'],
            content: '/user/edit?id=' + row.id
        });
    }

    //密码重置
    function resetPassword() {
        var row = $('#data-table').datagrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        askHelper.ajaxPost({
            url: '/user/resetPassword',
            data: { userId: row.id }
        });
    }

    //删除
    function remove() {
        var row = $('#data-table').datagrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        askHelper.ajaxConfirm({
            url: '/user/remove',
            data: { id: row.id },
            msg: "确认删除吗"
        });
    }

    //用户角色
    function userRole() {
        var row = $('#data-table').treegrid('getSelected');
        if (!row) {
            layer.msg("请选中一行", { time: 1500, icon: 5 });
            return;
        }
        layer.open({
            type: 2,
            title: '用户角色列表',
            shadeClose: false, //是否点击遮罩关闭
            shade: 0.5, //遮罩透明度
            maxmin: false, //开启最大化最小化按钮
            area: ['600px', '600px'],
            content: '/user/role?userId=' + row.id
        });
    }

    //搜索
    function search() {
        $('#data-table').datagrid({
            queryParams: {
                key: $.trim($('#key').val())
            }
        });
    }
</script>

</html>