<!DOCTYPE html>
<html>

<head>
    {include file="global.php" title="角色列表"/}
</head>

<body class="admin-body">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header admin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline admin-input-comm search">
                            <input type="text" id="key" placeholder="请输入编号、角色名" autocomplete="off" class="layui-input">
                        </div>
                        <button class="layui-btn admin-btn-comm" lay-submit onclick="search();">
                            <i class="layui-icon icon-search admin-button-btn"></i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body admin-table-body">
                <table id="data-table" lay-filter="data-table"></table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var userId = '<?php echo $_GET["userId"]?>';
    //easyUi 表格树
    $('#data-table').datagrid({
        url: '/user/getUserRoleList?userId=' + userId, //数据接口
        singleSelect: true, //行单选
        height: tableHelper.setHeight(),
        toolbar: '#toolbar', //表格工具条
        rownumbers: true, //行号显示
        pageSize: 15, //页码容量
        fit: false, //关闭自适应
        fitWidth: true, //是否跟随浏览器变化适应表格宽度(自定义扩展)
        pagination: true, // 分页工具栏
        pageList: [10, 15, 20, 30, 40, 50, 100], // 可以设置每页记录条数的列表
        columns: [
            [
                { field: 'checkbox', checkbox: true, align: 'center' },
                { field: 'id', title: '编号', width: 80, align: 'center' },
                { field: 'name', title: '角色名', width: 120, align: 'center' },
                {
                    field: 'isRelation',
                    title: '是否关联',
                    width: 80,
                    align: 'center',
                    formatter: function(value, row) {
                        return value ? '<i class="icon icon-true"></i>' : '<i class="icon icon-false"></i>';
                    }
                },
                {
                    field: 'menu',
                    title: '操作',
                    width: 80,
                    align: 'center',
                    formatter: function(value, row) {
                        //创建按钮,传入按钮名与对应方法，及颜色样式{0原始,1默认,2百搭,3暖色,4警告,5禁用},不设置为默认颜色
                        var button = { relation: ['关联角色', 1] };
                        if (row.isRelation) {
                            button = { delRelation: ['取消关联', 0] };
                        }
                        return tableHelper.createButton(button, row);
                    }
                }
            ]
        ]
    });

    //操作方法

    //添加关联
    function relation(row) {
        askHelper.ajaxPost({
            url: '/user/relationRole',
            data: { userId: row.userId, roleId: row.id },
            success: function() {
                tableHelper.refresh('data-table');
            }
        });
    }

    //删除关联
    function delRelation(row) {
        askHelper.ajaxPost({
            url: '/user/delRelationRole',
            data: { userId: row.userId, roleId: row.id },
            success: function() {
                tableHelper.refresh('data-table');
            }
        });
    }

    //搜索
    function search() {
        $('#data-table').datagrid({
            queryParams: {
                key: $.trim($('#key').val())
            }
        });
    }
</script>

</html>